window.brightness {
  font-size: 8px;
  font-weight: bold;
  border-radius: 3.2em;
  color: @fg-color;
  background-color: rgba(255, 255, 255, .1);
}

.brightness-overlay .title {
  font-size: 1.6em;
  padding-top: .4em;
}

.brightness-overlay .value {
  font-size: 3.2em;
}

.brightness-overlay .noise-overlay,
.brightness-overlay .container {
  opacity: .5;
  padding: 1em;
  margin: .4em;
  min-width: 18em;
  min-height: 18em;
  border-radius: 3.0em;
  background-color: @bg-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.brightness-overlay .brightness-bar {
  margin: 3.8em;
  border-radius: 50%;
  background-color: @bg-color;
  box-shadow: 0 4px 6px 0 rgba(31, 31, 31, 0.5);
}

.brightness-overlay .brightness-bar-progress {
  margin: 5.6em;
  font-size: 1.6em;
  color: @primary-color;
}

