[user]
	name = zhenya-paitash
	email = zhenyapaitash@gmail.com

[core]
	editor = nvim
  pager = delta

[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
  features = catppuccin-mocha
  true-color = always
  side-by-side = true
  ; syntax-theme = "Everforest Dark"
  ; line-numbers = true
  ; line-numbers-left-format = ""
  ; line-numbers-right-format = "│ "
