* {
  all: unset;
  /* font-family: "Noto Font"; */
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.noise-overlay {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: inherit;
}

