* {
  all: unset;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.noise-overlay {
  border-radius: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

