// /* Это действительно интересное сочетание цветов. Вот как я бы охарактеризовал каждый из них: */
// /*     #4D455D: Этот цвет можно описать как тёмно-серый с оттенком синего. Он напоминает мягкую тень в лунную ночь или цвет туманного утра. */
// /*     #7DB9B6: Этот цвет - свежий и спокойный, похож на мятно-зелёный или цвет морской волны. Он может напомнить о прохладном бризе у моря. */
// /*     #EDF285: Яркий и живой, этот цвет напоминает лимонный или цвет спелого лимона. Он может вызвать ассоциации с тёплым летним днём или свежим цитрусовым ароматом. */
// /**/
// /* Вместе эти цвета создают гармоничное сочетание, которое можно назвать “Туманный рассвет над морем | Misty dawn over the sea”.  */
// /* Это сочетание цветов может быть идеальным для дизайна интерьера, веб-сайта или искусства. Оно передаёт ощущение спокойствия и свежести, при этом добавляя нотки тепла и уюта. */
$bg-color: #4D455D;
$bg-alt-color: #706A7D;
$fg-color: #F5E9CF;
$primary-color: #EDF285;
$secondary-color: #7DB9B6;
$accent-color: #F5EAEA;

