// /* Ваши цвета выглядят следующим образом: */
// /*     bg-color (#53435B): Это глубокий и насыщенный цвет, который можно описать как темно-фиолетовый или темно-сиреневый. Он добавляет в схему цветов таинственность и глубину. */
// /*     fg-color (#FBEDE1): Это очень светлый и нежный цвет, похожий на слоновую кость или светло-бежевый. Он придает схеме цветов свежесть и чистоту. */
// /*     primary-color (#DBA979): Это теплый и уютный цвет, который можно описать как золотисто-коричневый или светло-коричневый. Он добавляет в схему цветов теплоту и уют. */
// /*     secondary-color (#8C6A5D): Это спокойный и умеренный цвет, который можно описать как темно-бежевый или светло-коричневый. Он придает схеме цветов стабильность и уравновешенность. */
// /**/
// /* В целом, эта цветовая схема создает ощущение уюта, теплоты и спокойствия. */
// /* Я бы назвал это сочетание цветов “Уютный закат | cozy sunset”. */
// /* Это сочетание цветов идеально подходит для создания уютной и теплой атмосферы. */
// /* Оно может быть использовано в интерьере, веб-дизайне или любом другом месте, где важна атмосфера уюта и теплоты. */


$bg-color: #53435B;
$bg-alt-color: #75687B;
$fg-color: #FBEDE1;
$primary-color: #DBA979;
$secondary-color: #8C6A5D;
$accent-color: #ECDBBA;
