/* https://colorhunt.co/palette/2a363be84a5fff847cfecea8 */
/* #2A363B */
/* #E84A5F */
/* #FF847C */
/* #FECEA8 */


$bg-color: #2A363B;
$bg-alt-color: #212B2F;
$fg-color: #FECEA8;
$primary-color: #FF847C;
$secondary-color: #E84A5F;
$accent-color: #2D4263;
