// /* https://colorhunt.co/palette/ffbe98feece2f7ded0e2bfb3 */
// /* #FFBE98 */
// /* #FEECE2 */
// /* #F7DED0 */
// /* #E2BFB3 */
// /* Это сочетание цветов представляет собой нежную и утонченную цветовую палитру. */
// /* Они варьируются от светло-кораллового (#FFBE98) до более теплых и нейтральных оттенков бежевого (#FEECE2, #F7DED0, #E2BFB3). */
// /* Это создает успокаивающую и приятную атмосферу. */
// /* Эта цветовая схема может быть описана как **аналоговая**, потому что цвета расположены рядом на цветовом круге, */
// /* создавая гармоничный и естественный вид. */
// /* Что касается темного цвета для текста на таком фоне, я бы предложил классический черный цвет **#000000**. */
// /* Он будет хорошо контрастировать с этими светлыми оттенками и обеспечит хорошую читаемость текста. */
// /* Если вы хотите более мягкий вариант, то темно-серый цвет, например **#595959**, также будет хорошо смотреться. */

$bg-color: #F7DED0;
$bg-alt-color: #F3CFBA;
$fg-color: #595959;
$primary-color: #FEECE2;
$secondary-color: #E2BFB3;
$accent-color: #FFBE98;

