/* https://colorhunt.co/palette/ffa45bffda77fbf6f0aee6e6 */
/* #FFA45B */
/* #FFDA77 */
/* #FBF6F0 */
/* #AEE6E6 */


$bg-color: #FBF6F0;
$bg-alt-color: #AEE6E6;
$fg-color: #222E2E;
$primary-color: #FFA45B;
$secondary-color: #FFDA77;
$accent-color: #AEE6E6;

