/* https://colorhunt.co/palette/f6e7d8f68989c65d7b874356 */
/* #F6E7D8 */
/* #F68989 */
/* #C65D7B */
/* #874356 */

$bg-color: #F6E7D8;
$bg-alt-color: #ECCEAF;
$fg-color: #874356;
$primary-color: #C65D7B;
$secondary-color: #F68989;
$accent-color: #ffffff;

