/* https://colorhunt.co/palette/f5dad2fcffe0bacd9275a47f */
/* #F5DAD2 */
/* #FCFFE0 */
/* #BACD92 */
/* #75A47F */

$bg-color: #FCFFE0;
$bg-alt-color: #F9FFC7;
$fg-color: #75A47F;
$primary-color: #A1C398;
$secondary-color: #F5DAD2;
$accent-color: #FA7070;
