/* https://colorhunt.co/palette/fd8a8af1f7b5a8d1d19ea1d4 */
/* #FD8A8A */
/* #F1F7B5 */
/* #A8D1D1 */
/* #9EA1D4 */

$bg-color: #FD8A8A;
$bg-alt-color: #F1F7B5;
$fg-color: #321B1B;
$primary-color: #9EA1D4;
$secondary-color: #A8D1D1;
$accent-color: #FD8A8A;
