window.player {
  font-size: 11px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, .2);
  background-color: paleturquoise;
}

.player .container {
  margin: 4px;
  border-radius: 12px;
  background-color: @primary-color;
}

.player .content {
  min-width: 20em;
  min-height: 10em;
}

.player .cover {
  min-width: 10em;
  min-height: 10em;
  margin: .4em;
  border-radius: 10px;
  background-color: black;
}

